#EXT_RADIO {
  min-width: 240px;
  font-size: 16px;
  height: 100px;
  font-size: large;
  line-height: 1.5em;
  display: inline-block;
}

#EXT_RADIO.hidden {
  display: none;
}

#EXT_RADIO_IMG {
  height: 100px;
  width: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0;
  margin-left: auto;
  margin-right: auto;
}

#EXT_RADIO_FOREGROUND {
  position:relative;
  filter:none;
  width:100%;
  height:100%;
  display:flex;
  box-sizing:border-box;
  flex-direction:row;
  justify-content: space-between;
  padding:0;
}

#EXT_RADIO_BACKGROUND {
  background-size: cover;
  background-position: center center;
  filter: blur(16px) opacity(90%) grayscale(33%);
  position: absolute;
  width: -webkit-fill-available;
  height: 100px;
  z-index: 0;
}
